<div class="app">
  <header class="header">
    <a routerLink="main" class="header__logo">
      <img src="../assets/nav-icons/logo.svg" alt="">
    </a>

    <ul class="header__list">
      <li class="header__item"><a routerLink="/main" class="header__link">
        <img src="../assets/nav-icons/dashboard.svg" alt="">
      </a></li>
      <li class="header__item"><a routerLink="/" class="header__link">
        <img src="../assets/nav-icons/cube.svg" alt="">
      </a></li>
      <li class="header__item"><a routerLink="/" class="header__link">
        <img src="../assets/nav-icons/charts.svg" alt="">
      </a></li>
      <li class="header__item"><a routerLink="/" class="header__link">
        <img src="../assets/nav-icons/wallet.svg" alt="">
      </a></li>
      <li class="header__item"><a routerLink="/" class="header__link">
        <img src="../assets/nav-icons/user.svg" alt="">
      </a></li>
    </ul>
  </header>

  <section class="main">
    <router-outlet></router-outlet>
  </section>
</div>
